body {
  margin: 0;
}

#logo {
  justify-content: center;
  width: 100px;
  height: 100px;
}

#nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

#contentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nameContainer {
  justify-content: center;
}

#name {
  font-family: 'Oswald', sans-serif;
}


#navTweet, #navGit, #navLink {
 display: flex;
 padding: 5px 0px 5px 0px;
 margin: 0;
}

#social {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: white;
}

#projects {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

#projectLinks {
 display: flex;
 flex-direction: column;
 text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

#website, #ghRepo {
  font-family: 'Oswald', sans-serif;
  list-style: none;
}

#template {
  height: 0px;
}
