body {
  margin: 0;
}

/*LOGO SECTION*/

.topSection {
  max-width: 65px;
  min-width: 65px;
  width: 10%;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background-color: none;
}

.logosection {
  display: flex;
  min-width: 480px;
  max-height: 90px;
  align-items: center;
  border-bottom: 1px solid #C9CCC9;
  background-color: white;
}

.website-title {
  width: 100%;
  padding-left: 1%;
  background-color: none;
}

.davidheyduck {
  font-family: 'Bitter', serif;
  font-size: 35px;
  color: black;
}

.davidheyducklink {
  text-decoration: none;
}

.logo {
  max-width: 100%;
  min-width: 30px;
}

.phonenumber {
  padding-right: 2%;
}

.mynumber {
  font-family: 'Slabo 27px', serif;
}

.social-aside {
  display: flex;
}

.github-icon {
  padding: 10px;
}

.twitter-icon {
  padding: 10px;
}

.linkedin-icon {
  padding: 10px;
}

/*HIDES PHONE NUMBER AND SOCIAL MEDIA ICONS AT WIDTH OF 673 PIXELS*/

@media only screen and (max-width: 673px) {
  .phonenumber , .mynumber , .social-aside , .github-icon , .twitter-icon , .linkedin-icon {
    display: none;
  }
}

/*NAVIGATION BAR*/

.main-nav {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  min-width: 400px;
  background-color: white;
  border-bottom: 1px solid #C9CCC9;
}

.nav-text {
  display: inline-flex;
  background-color: none;
  padding: 0px;
  margin: 0px;
}

.homepage , .mywork , .connect , .myeducation {
  font-size: 20px;
  font-family: 'Pontano Sans', sans-serif;
  color: black;
  padding: 1%;
  background-color: none;
}

.homepage:hover , .mywork:hover , .connect:hover , .myeducation:hover {
  font-size: 20px;
  font-family: 'Pontano Sans', sans-serif;
  color: #baccde;
  padding: 1%;
  background-color: none;
}

.tab {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*HOME PAGE*/

.sliderdiv {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.slidercontainer {
  padding-left: 10%;
  padding-right: 10%;
  width: 50%;
  min-width: 400px;
  /*height: 500px;*/
}

/*WORK SECTION*/

.work-block {
  display: flex;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
}

.work-text {
  padding-left: 20px;
  padding-right: 20px;
}

.projects {
  overflow: scroll;
  max-height: 200px;
  border: 1px dashed #C9CCC9;
  margin: 0px 0px 0px 10px;
}

.project-image {
  margin-left: 0px;
}

.project-summary {
  padding: 0px 20px 0px 20px;
  font-family: 'Sanchez', serif;
}

/*EDUCATION SECTION*/

.edu-padding {
  display: flex;
  min-height: 200px;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px dashed #C9CCC9;
}

.map-image {
  max-width: 200px;
}

.edu-block {
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.education-details {
  justify-content: center;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.school-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;

}

.years {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: grey;
}

.studied {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

/*CONNECT*/

.connect-article {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: none;
}

.connect-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 8%;
  width: 100%;
  background-color: none;
}

.cartooncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  background-color: none;
}

.cartoonicons {
  padding-left: 2%;
  padding-right: 2%;
  min-width: 100px;
}

.cartooncaptions {
  font-family: 'Montserrat', sans-serif;
}

li {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  list-style: none;
  flex-direction: row;
  background-color: none;
}

li a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.template {
  display: none;
}

main {
  padding: 0px 0px 5% 0px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #F0F0F0;
}
