body {
  margin: 0;
}

/*LOGO*/

.topSection {
  display: flex;
  justify-content: center;
  background-color: none;
  margin: 0px;
}

.logo {
  max-width: 100%;
}

/*NAVIGATION BAR*/

.main-nav {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 3px 3px 3px #C9CCC9;

}

.nav-text {
  display: inline-flex;
  background-color: none;
  padding: 0px;
  margin: 0px;
}

.mywork , .connect {
  padding: 0px 10px 0px 10px;
  margin: 0px;
  color: black;
  background-color: none;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 2px 2px #C9CCC9;
}

.tab {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*MY WORK*/

.work-block {
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}

.projects {
  overflow: scroll;
  max-height: 200px;
  border: 1px dashed #C9CCC9;
  margin: 0px 0px 0px 10px;
}

.project-image {
  margin-left: 0px;
  box-shadow: 1px 3px 3px 1px #C9CCC9;
}

.project-summary {
  padding: 0px 20px 0px 20px;
  font-family: 'Sanchez', serif;
}

/*CONNECT*/

.connect-article {
  display: flex;
  justify-content: center;
  background-color: none;
}

.connect-div {
  flex-direction: column;
  background-color: none;
}

.connect-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  background-color: none;
}

.contact-methods {
  padding: 10px;
  margin: 0px;
  background-color: none;
}

li {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  list-style: none;
  flex-direction: row;
  background-color: none;
}

li a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.template {
  display: none;
}

main {
  padding: 0px 0px 5% 0px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #F0F0F0;
}
